<div id="vista">

    <div class="people">

        <img src="../../../assets/img/ejemplo.png">
        <div class="info">Pepita Cruz<br> Chile, Valparaiso</div>

    </div>

    <div class="people">

        <img src="../../../assets/img/ejemplo3.png">
        <div class="info">Juan Totto<br> Chile, Metropolitana</div>

    </div>

    <div class="people">

        <img src="../../../assets/img/ejemplo2.png">
        <div class="info">Pedro Tijuana<br>Chile, Metropolitana</div>

    </div>

    <div class="people">

        <img src="../../../assets/img/ejemplo.png">
        <div class="info">Juana de Arco<br>Chile, Metropolitana</div>

    </div>

</div>
