#vista{
    box-sizing: border-box;
    width: 70%;
}

.people{
    float: left;
    border: solid;
    width: 380px;
    height: 180px;
    margin: 10px;
}

.info{
    float: right;
    margin-top: 15px;
    height: 90%;
    width: 60%;
}