ul{
    margin-top: 25px;
    margin-left: 60px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

button{
    width: 220px;
    color: black;
    background-color: white;
}

.imagen{
    width: 35px;
}